## `/download` 
#### Development notebook the `/download` functionality

This is a development notebook for the `/download` submodule, which focuses on retrieving the data retrieved from multiple data sources. 

The larger roadmap for this module is being defined alongside tests and architecture but these are the base level functions necssary for functionality, and can therefore be developed in isolation. This can also be generally considered the introduction level.

#### Problem 1

Using [Quandl](https://www.quandl.com/tools/python) construct a class that can be used to retrieve and update information from a list of tickers.

In [ ]:
# Add as many as you need
import datetime
import pandas 

# Modify as necessary
class Stock:
    """
    A stock object that uses a given name and ticker to retrieve and store data between the right dates.
    
    Unless otherwise specified, the default end date is always the current day. 
    """
    
    
    def __init__(self, name, ticker, start_date, end_date):
        self.name = name
        self.ticker = ticker
        self.start_date = start_date
        self.end_date = end_date
        pass
    
    def setup(self):
        """
        Creates a pandas DataFrame to recieve and hold all stock data.
        """
        pass 
    
    def get(self):
        """
        Gets all the data from start to end date from Quandl.
        """
        pass
        
    def update(self):
        """
        Updates the data to a new start date as necessary. 
        """      
        pass

In [ ]:
# Example

AAPL = Stock('Apple', 'AAPL', start_date='2001-01-01', end_date="2017-01-01")

In [2]:
# Stock retrieval example using on Pandas Data Reader
# Build an equivalent version using Quandl 

import pandas_datareader
import datetime

start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2013, 1, 27)

pandas_datareader.get_data_google('GOOG')

              Open    High     Low   Close     Volume
Date
2010-01-04  313.16  314.44  311.81  313.06        NaN
2010-01-05  313.28  313.61  310.46  311.68        NaN
2010-01-06  312.62  312.62  302.88  303.83        NaN
2010-01-07  304.40  304.70  296.03  296.75        NaN
2010-01-08  295.70  301.32  294.26  300.71        NaN
2010-01-11  301.93  301.93  296.72  300.25        NaN
2010-01-12  298.74  298.78  293.71  294.94        NaN
2010-01-13  287.96  293.90  286.66  293.25        NaN
2010-01-14  291.66  296.80  291.11  294.63        NaN
2010-01-15  295.50  296.48  288.73  289.71        NaN
2010-01-19  290.45  294.91  287.86  293.52        NaN
2010-01-20  292.70  292.70  287.36  289.91        NaN
2010-01-21  291.43  293.12  285.84  291.20        NaN
2010-01-22  281.97  285.01  267.16  274.73        NaN
2010-01-25  273.02  274.66  267.49  269.73        NaN
2010-01-26  268.72  274.53  267.88  270.94        NaN
2010-01-27  270.36  273.55  267.39  270.78        NaN
2010-01-28  271.97  273.23  265.03  266.88        NaN
2010-01-29  268.98  270.22  262.54  264.71        NaN
2010-02-01  267.03  267.64  264.88  266.24        NaN
2010-02-02  267.21  267.21  263.54  265.29        NaN
2010-02-03  264.07  270.78  263.85  270.14        NaN
2010-02-04  268.23  268.73  262.52  263.13        NaN
2010-02-05  263.94  266.48  260.97  265.38        NaN
2010-02-08  265.98  270.73  265.50  266.47        NaN
2010-02-09  269.50  270.49  267.27  267.95        NaN
2010-02-10  266.77  268.63  263.58  266.96        NaN
2010-02-11  265.86  269.97  264.49  267.93        NaN
2010-02-12  266.22  268.31  264.98  266.29        NaN
2010-02-16  268.30  271.79  266.88  270.38        NaN
...            ...     ...     ...     ...        ...
2017-01-12  807.14  807.39  799.17  806.36  1353057.0
2017-01-13  807.48  811.22  806.69  807.88  1099215.0
2017-01-17  807.08  807.14  800.37  804.61  1362115.0
2017-01-18  805.81  806.20  800.99  806.07  1294407.0
2017-01-19  805.12  809.48  801.80  802.18   919325.0
2017-01-20  806.91  806.91  801.69  805.02  1670045.0
2017-01-23  807.25  820.87  803.74  819.31  1963628.0
2017-01-24  822.30  825.90  817.82  823.87  1474010.0
2017-01-25  829.62  835.77  825.06  835.67  1627304.0
2017-01-26  837.81  838.00  827.01  832.15  2973891.0
2017-01-27  834.71  841.95  820.44  823.31  2965771.0
2017-01-30  814.66  815.84  799.80  802.32  3246573.0
2017-01-31  796.86  801.25  790.52  796.79  2160556.0
2017-02-01  799.68  801.19  791.19  795.70  2029744.0
2017-02-02  793.80  802.70  792.00  798.53  1532138.0
2017-02-03  802.99  806.00  800.37  801.49  1463448.0
2017-02-06  799.70  801.67  795.25  801.34  1184483.0
2017-02-07  803.99  810.50  801.78  806.97  1241221.0
2017-02-08  807.00  811.84  803.19  808.38  1155990.0
2017-02-09  809.51  810.66  804.54  809.56   990391.0
2017-02-10  811.70  815.25  809.78  813.67  1134976.0
2017-02-13  816.00  820.96  815.49  819.24  1213324.0
2017-02-14  819.00  823.00  816.00  820.45  1054732.0
2017-02-15  819.36  823.00  818.47  818.98  1313617.0
2017-02-16  819.93  824.40  818.98  824.16  1287626.0
2017-02-17  823.02  828.07  821.66  828.07  1611039.0
2017-02-21  828.66  833.45  828.35  831.66  1262337.0
2017-02-22  828.66  833.25  828.64  830.76   987248.0
2017-02-23  830.12  832.46  822.88  831.33  1472771.0
2017-02-24  827.73  829.00  824.20  828.64  1392202.0

[1798 rows x 5 columns]